.guiTile {
    -fx-border-width: 0 0 1 1;
    -fx-border-color: black;
}

.car {
    padding: 1px;
}

.street {
    -fx-background-color: grey;
}

.grass {
    -fx-background-color: lightgreen;
}

.checkpoint {
   -fx-background-color: yellow;
}

.highlight-green {
    -fx-background-color: green;
}

.highlight-red {
    -fx-background-color: red;
}

.highlight-blue  {
    -fx-background-color: blue;
}


